.header {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  bottom: 0 !important;
}

.mdl-navigation__link:hover {
  text-shadow: 0px 0.6px 0.6px rgba(170, 173, 179, 0.808);
  background-color: rgba(190, 225, 255, 0.05);
}

.mdl-layout__content {
  background: #3a3a3a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #19547b50, #ffd99b2a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #19547b3a, #ffd99b17); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mdl-chip{
  margin: 0 !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}
 
.gradient-background {
  background: linear-gradient(289deg,#003973,#6b6b838f,#E5E5BE);
  background-size: 150% 150%;
  animation: gradient-animation 3s ease infinite;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.left-align{
  text-align: left;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ico-resume {
  max-width: 2.75em;
  padding: 0.5em;
  margin-right: 0.5em;
}

.ico-print {
  max-width: 2.75em;
  padding: 0.5em;
  margin-right: 0.5em;

}

.ico-resume-mini {
  max-width: 1.5em;
  margin:0.2em;
  padding-right: 0.5em;
}

.ico-resume-edu {
  width: 70%;
  margin: auto; 
  text-align: center;
  max-width: 10vw;
  padding: 5%;
}

.ico-resume-interests {
  max-width: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
}

.mdl-layout-spacer {
  display: flex;
  flex-direction: column;
}

.gallery-card-image.mdl-card {
  width: 100%;
  min-width: 400px;
  min-height: 400px;
  height: 30vh;
}

.gallery-card-image > .mdl-card__actions {
  height: auto;
  padding: 16px;
  background: rgba(51, 51, 51, 0.8);
}

.card-image-caption {
  color: rgb(255, 255, 255);
}

.name-link {
  color:aliceblue;
  text-decoration: none;
}

.mdl-tabs {
  background: #19547b3a; 
}

.mdl-card {
  min-width: 25%!important;
  border-radius: 10px !important;
}

.mdl-card {
  transition: box-shadow 0.2s ease-in-out;
}

.mdl-card:hover{
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 1);
}

.small-left-padding {
  padding-inline-start: 2em;
  margin: auto;
}

.mdl-card__title {
  justify-content: center !important;
}

.mdl-card__title-text {
  align-self: center !important;
  text-shadow: 0px 0.5px 0.5px #29292962;
  font-size: 1.2em !important;
}

.mdl-card__supporting-text {
  width: auto !important;
  color: rgba(0,0,0, 0.8) !important;
}

#edu-heading {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: medium;
  font-weight: bolder;
}

#cert-heading {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: small;
  font-weight: bolder;
}

#exp-heading {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: 1.5em;
  font-size: large;
  font-weight: bolder;
}

.sub-heading {
  color: #003973;
}

.avatar-main {
  display: flex;
  min-width: 200px;
  max-width: 310px;
  height: auto;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border-style: solid;
  border-width: thin;
  border-color: #a7a7a733;
  box-shadow: 0px 30px 30px -30px rgba(0, 0, 0, 1);
  transition: box-shadow 0.2s ease-in-out;
  animation: fadein 0.5s linear both;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s linear both; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

.avatar-main:hover {
  box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, 1);
}

#resume-entry {
  border-radius: 15px;
  margin-right: 1em;
  margin-top: 1em; 
  margin-bottom: 1em;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 1);
  text-align: left;
  min-height: auto !important;
}

.resume-grid {
  background-color: rgba(255, 255, 255, 0.5);
  width:90%;
  max-width: 125em;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin: auto;
  border-style: solid;
  border-width: thin;
  border-color: #71747e0c;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 3px 5px -4px;
  justify-content: center;
}

.avatar-resume {
  display: flex;
  max-width: 280px;
  width: 100%;
  height: auto;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border-style: solid;
  border-width: thin;
  border-color: #a7a7a733;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 1);
}

.avatar-contact {
  display: flex;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border-style: solid;
  border-width: thin;
  border-color: #a7a7a733;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 1);

  transition: box-shadow 0.2s ease-in-out;
  animation: fadein 0.5s linear both;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s linear both; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

.contact-fade {
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 1);
  transition: box-shadow 0.2s ease-in-out;
  animation: fadein 1s linear both;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s linear both; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.contact-fade2 {
  animation: fadein 0.5s linear both;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s linear both; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

.intro-box {
  background-color: rgba(255, 255, 255, 0.4);
  width: 80%;
  max-width: 100em;
  margin: auto;
  border-style: solid;
  border-width: thin;
  border-color: #71747e0c;
  border-radius:15px;
  text-align: center;
  box-shadow: 0px 3px 5px -4px;

  animation: fadein 0.5s linear both;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s linear both; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

.project-box {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-style: solid;
  border-width: thin;
  border-color: #71747e0c;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 3px 5px -4px;

  animation: fadein 0.5s linear both;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s linear both; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

.blog-box {
  background-color: rgba(255, 255, 255, 1.0);
  width: 80%;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border-style: solid;
  border-width: thin;
  border-color: #71747e0c;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 3px 5px -4px;

  animation: fadein 0.5s linear both;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s linear both; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

.about-box {
  background-color: rgba(255, 255, 255, 1.0);
  width:80%;
  max-width: 100em;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin: auto;
  border-style: solid;
  border-color: #71747e0c;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 3px 5px -4px;
  justify-content: center;
  transition: box-shadow 0.2s ease-in-out;

  animation: fadein 1s linear both;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s linear both; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.about-box:hover {
  box-shadow: 0px 3px 5px -2px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.tab-content {
  margin: auto;
  max-width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: thin;
  border-color: #71747e36;
  border-radius: 15px;
}

.fancy-title-card2 {
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 5px 15px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 2px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  
  margin: auto;
  max-width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(124, 121, 121, 0.1);
  text-align: center;
  padding: 1em;
  padding-bottom: 2em;

  animation: fadein 2s linear both;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s linear both; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity:0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  0% {
    transform: translateY(30px);
    opacity:0;
  }
  100% {
    transform: translateY(0);
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity:0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    transform: translateY(30px);
    opacity:0;
  }
  to {
    transform: translateY(0);
    opacity:1;
  }
}

.fancy-title-card {
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 5px 15px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 2px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  margin: auto;
  max-width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(124, 121, 121, 0.1);
  text-align: center;
  padding: 1em;
  padding-bottom: 2em;
  animation: fadein 1.75s;
  -moz-animation: fadein 1.75s; /* Firefox */
  -webkit-animation: fadein 1.75s; /* Safari and Chrome */
  -o-animation: fadein 1.75s; /* Opera */
}

.blog-content {
  margin: auto;
  max-width: 80%;
  min-height: 90vh;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: thin;
  border-color: #71747e36;
  border-radius: 15px;

  animation: fadein 0.3s linear both;
  -moz-animation: fadein 0.3s; /* Firefox */
  -webkit-animation: fadein 0.3s linear both; /* Safari and Chrome */
  -o-animation: fadein 0.3s; /* Opera */
}

.inline-img {
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  border-color: #a7a7a733;
  margin: 1%
}

.title {
  padding: 0.1vh;
  font-size: 2em;
  text-align: center;
  color: rgb(32, 32, 32);
  margin-bottom: 0.5% !important;
  text-shadow: 0px 0px 1px #4b4b5a, 0 0 4px #ffffff;
}

.intro-box p {
  text-align: center;
}

.project-grid, .skill-grid {
  justify-content: center;
}

.project-section {
  display: flex;
  min-height: 100vh
}

.skill-ico {
  display: flex;
  min-width: 38px;
  max-width: 12%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  align-items: flex-end;
  padding-bottom: 1vh;
}

hr.short1 {
  border-top: 2px groove rgba(180, 180, 180, 0.336);
  margin: auto;
  width: 80%;
  padding-bottom: 0.5em;
}

hr.low-margin {
  margin: 0.2em;
}

.project-title {
  font-size: 1.25em;
  background-color: #464646ec;
  border-radius: 5px;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.8);
  padding: 0.5em;
  text-shadow: 0px 0px 4px #000000;
}

.print-banner{
  text-align: center;
  height: fit-content;
  padding-bottom: 1.1em;
}

.mdl-button--raised.mdl-button--colored{
  background: #ff9c2b !important;
}

#diagram {
  height: 100vh;
}

#photo-card{
  height: 50vh !important;
}

.resizeable-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.resizeable-container2 {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 80%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}