.header {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mdl-navigation__link:hover {
  text-shadow: 0px 0.6px 0.6px rgba(170, 173, 179, 0.808);
  background-color: rgba(190, 225, 255, 0.05);
}

.mdl-layout__content {
  flex: 1 0 auto;
  background: #3a3a3a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #19547b50, #ffd99b2a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #19547b3a, #ffd99b17); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mdl-layout-spacer {
  display: flex;
  flex-direction: column;
}

.gallery-card-image.mdl-card {
  width: 30vw;
  width: 30vh;
  min-width: 400px;
  min-height: 400px;
  height: 256px;
}

.gallery-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.name-link {
  color:aliceblue;
  text-decoration: none;
}

.footer {
  bottom: 0 !important;
}

.mdl-tabs {
  background: #19547b3a; 
}

.mdl-card {
  min-width: 25%!important;
  min-height: 100% !important;
  border-radius: 10px !important;
}

.mdl-card__title {
  justify-content: center !important;
}

.mdl-card__title-text {
  align-self: center !important;
  text-shadow: 0px 0.5px 0.5px #29292962;
  font-size: 21px !important;
}

.avatar-main {
  display: flex;
  min-width: 200px;
  max-width: 310px;
  height: auto;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border-style: solid;
  border-width: thin;
  border-color: #a7a7a733;
  box-shadow: 0px 30px 30px -30px rgba(0, 0, 0, 1);
}

.intro-box {
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  max-width: 105em;
  margin: auto;
  border-style: solid;
  border-width: thin;
  border-color: #71747e0c;
  border-radius:15px;
  text-align: center;
  box-shadow: 0px 3px 5px -4px
}

.project-box {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  max-width: 100em;
  margin: auto;
  margin-bottom: 5%;
  border-style: solid;
  border-width: thin;
  border-color: #71747e0c;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 3px 5px -4px;
  padding: 8px;
}

.about-box {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  max-width: 100em;
  padding: 1.5%;
  margin: auto;
  border-radius:15px;
  border-style: solid;
  border-width: thin;
  border-color: #71747e0c;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 3px 5px -4px;
  justify-content: center;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.tab-content {
  margin: auto;
  max-width: 75em;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: thin;
  border-color: #71747e36;
  border-radius: 15px;
}

.title {
  padding: 0.1vh;
  font-size: 3vh;
  text-align: center;
  color: rgb(32, 32, 32);
  margin-bottom: 0.5% !important;
  text-shadow: 0px 0px 1px #4b4b5a, 0 0 4px #ffffff;
}

.intro-box p {
  text-align: center;
}

.project-grid, .skill-grid {
  justify-content: center;
}

.project-section {
  display: flex;
  min-height: 100vh
}

.skill-ico {
  display: flex;
  max-width: 17.5%;
  margin: auto;
  align-items: flex-end;
  padding-bottom: 1vh;
}

hr.short1 {
  border-top: 2px groove rgba(180, 180, 180, 0.336);
  margin: auto;
  width: 80%;
  padding-bottom: 0.5em;
}

.project-title {
  background-color: #464646a2;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.753);
  padding: 0.5em;
  text-shadow: 0px 0px 4px #000000;
}